*{
    margin: 0;
    padding: 0;
}
html, body{
    background:  rgba(80, 80, 70, 0.067);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }
header{
    height: 60px;
    background: #008086;
}

header h3{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}


img{
    width: 96%;
    margin: 0.5em;
}



.container{
    width: 100%;
    margin: 0 auto;
   
}

.column{
    display: flex;
    justify-content: space-around;
    margin: 1em auto;
  
    
}

.col-1{
  width: 25%;
  background: #ffff;
  border-radius: 3px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a0;
}

.col-2{
    width: 70%;
    background: #ffff;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a0;
}


.col p{
    text-align: justify;
    margin: 0.8em 0.5em;
    line-height: 1.5em;
    font-size: 1.2rem;
}
.box-1{
    width: 24%;
    border: #008086 solid 1px;
}

.box-1:hover{
    background: #008086;
    color: #fff;
    transition: .5s;
}

.box-2{
    width: 24%;
    border: #008086 solid 1px;
}

.box-2:hover{
    background: #008086;
    color: #fff;
    transition: .5s;
}

.box-3{
    width: 24%;
    border: #008086 solid 1px;
    
}

.box-3:hover{
    background: #008086;
    color: #fff;
    transition: .5s;
}

.box-4{
    width: 24%;
    border: #008086 solid 1px;
}

.box-4:hover{
    background: #008086;
    color: #fff;
    transition: .5s;
}

ul{
    list-style-type: square;
    margin: 1.5em 3em;
}

li{
    line-height: 1.8em;
}
.address{
    line-height: 1.8em;
    margin: 1em 2em;
}

.occupation{
    line-height: 1.8em;
    margin: 1.5em 1em;
}


 /* FOOTER */
 footer{
    background: #303036;
    color: #ffff;
    height: 350px;
 }

 footer .footer-top{
     display: flex;
 }

 .socialMedia{
    width: 30%;
    
    
 }

 .socialMedia .a{
    border: 1px solid gray;
    height: 20px;
    width: 30px;
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    transition: all .3s;
    color: #fff;
 }


 .socialMedia a{
    border: 1px solid gray;
    height: 20px;
    width: 30px;
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    transition: all .3s;
    color: #fff;
 }

 .links{
     margin: 0.8em 2em;
 }

 .Contacts{
     width: 70%;
     

 }

 .list-1{
     margin: 0.8em 2em;
 }

 .list-2{
    margin: 0.8em 10em;
}
 

 form{
    margin-left: 25em;
 }



input[type=email]{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1.2em 7.9em;
    border-radius: 5px;
    
}

textarea{
        background: #272727;
        color: #bebdbd;
        margin-bottom: 10px;
        line-height: 1.5rem;
        padding: 1.2em 7.5em;
        border-radius: 5px;
        
    
}

.btn{
    background: #006669;
    color: #fff;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    border-radius: .25rem;
}

footer .footer-bottom{
    background: #343a40;
    color: #fff;
    height: 50px;
    width: 100%;
    

}

.footer-bottom p{
    text-align: center;
    padding: 0.5em 0;
}

/*media querry */
@media screen and (min-width: 400px) and (max-width:700px){

    .Contacts{
        margin: 0;
    }
    .column{
        flex-direction: column;
        justify-content: space-between; 
    }

    img{
        width: 98%;
    }
    
.col-1{
    width: 100%;
    margin: 0 auto;
   
  }
  
  .col-2{
      width: 100%;
      margin: 0 auto;
     
  }

  .box-1{
    width: 100%;
   
}

.box-2{
    width: 100%;  
}

.box-3{
    width: 100%;  
}

.box-4{
    width: 100%;  
}

.footer-top{
    flex-direction: column;
}

.socialMedia{
    width: 100%;
    margin: auto;
}

.Contacts{
    width: 100%;
    margin: auto;
  
}

form{
    margin:auto;
    width: 100%;
}
footer{
    height: 620px;
}

.list-2{
    margin: 0.8em 3em;
}
 
.occupation{
    line-height: 1.8em;
    margin: 1.5em 2em;
}

}
